.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 0.8rem;

   height: inherit;
}
/* Navbar IG Logo */
.navbar__Logo {
   display: flex;
   flex: 1 0 127px;
}

.igIconLink {
   display: flex;
}

.igIconContainer {
   display: flex;
   flex: 0 0 auto;
   justify-content: flex-start;
   align-items: center;
}
.igIconInner {
   display: flex;
   margin-top: 7px;
   transition: opacity 0.1s ease-out;
}
.igIcon {
   background: url("https://static.cdninstagram.com/rsrc.php/v3/yy/r/BmKQv9dlVyA.png") no-repeat 0 -304px;
   background-size: 208px 882px;
   display: inline-block;

   width: 102px;
   height: 30px;
}

/* Navbar Search Box */
.navbar__Search {
   color: #000;
   background: #efefef;
   border-radius: 8px;

   display: flex;
   flex: 0 1 auto;
   align-items: center;
   justify-content: center;
   min-width: 125px;
   width: 268px;
   height: 36px;

   position: relative;
}

.navbarSearchIcon {
   padding: 3 16px;
   align-items: center;
   display: flex;
}
.navbarSearchIcon svg {
   /* margin-right: 12px; */
}

.navbar__SearchInput {
   display: flex;
   padding: 3px 16px;
   align-items: center;

   -webkit-appearance: none;

   background: rgb(239, 239, 239);
   font-size: 16px;

   color: rgb(38, 38, 38);
   z-index: var(--z-index-3);

   border-radius: 8px;
   height: 100%;
   width: 100%;
}

.navbar__SearchInput::-webkit-input-placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
}
.navbar__SearchInput:-moz-placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
   opacity: 1;
}
.navbar__SearchInput::-moz-placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
   opacity: 1;
}
.navbar__SearchInput:-ms-input-placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
}
.navbar__SearchInput::-ms-input-placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
}
.navbar__SearchInput::placeholder {
   color: #949395;
   font-size: calc(0.3vw + 0.6rem);
}

/* Navbar Quick Links */
.Navbar__quickLinks {
   flex: 1 0 127px;

   display: flex;
   justify-content: flex-end;
   align-content: center;
   align-items: center;
   flex-wrap: wrap;

   position: relative;
}

.Navbar__quickLinksInner {
   display: flex;
   flex-direction: row;
   padding-left: 24px;
   white-space: nowrap;

   position: relative;
}

.NavIconcontainer:not(:first-child),
.profileLink {
   margin-left: 22px !important;
}

/* 1: Home  */

/* 2: Direct  */

/* 3: Post  */
/* .Post {
   width: 100%;
} */
/* .postIcon {
   width: calc(1vw + 1rem);
   width: 24px;
} */

/* 4: Explore  */

/* 5: LikesComments  */

/* 6: Profile  */
.Profile {
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 28px;
   height: 28px;
   border-radius: 50%;

   position: relative;
   cursor: pointer;
   clip-path: circle(12.5px at center center);
   z-index: var(--z-index-3);
}

.Profile img {
   z-index: -10;
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

.profileLink {
   border: 1px solid black;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   vertical-align: center;
}

.profileLink {
   border-radius: 50%;
   display: flex;
   justify-content: center;

   border: 1px solid transparent;
   background-color: transparent;
   position: relative;
}

.profileLink:focus {
   border: 1px solid black;
}

.toggleProfileOpt {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border: 1px solid rgb(219, 219, 219);
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
   padding: 15px;
   width: 127px;
   height: 100px;
   z-index: 10;
}

/* Profile Option */

.profileDropdownIcon {
   display: flex;
   flex: 0 0 auto;

   justify-content: flex-start;
   flex-direction: column;
   align-items: stretch;
   align-content: stretch;

   margin-right: calc(4px * 3);

   cursor: pointer;
}

.profileDropdownInner {
   display: flex;

   flex: 1 1 auto;
   min-height: 0;
   min-width: 0;

   justify-content: center;
   flex-direction: column;
   align-items: stretch;
   align-content: stretch;
}

.profileDropdownInnerText {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-size: 14px;
}
