.navContainerHight {
   height: 100px;
}
.NavbarContainer {
   background: #fff;
   border-bottom: 1px solid #c7c7c7;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
   /* border: 1px solid; */
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   z-index: var(--z-index-2);
}

.App {
   background: #fafafa;
   height: 100vh;
}



.page-center {
   max-width: 935px;
   
   margin: 0 auto;
}


